body{
    width: 100%;
    height: 100%;
    margin: 0;
}

p{
    margin: 0;
}
code{
    font-family: "Roboto Condensed", sans-serif;
    font: weight 500px;;
    font-style: normal;
}

header{
    background-image: url(glossario.png);
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 28px;
    
}

.titulo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.titulo-img h2{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    margin: 2px;
    font-size: 80px;
}

.container{
    background-color: rgb(236, 236, 236);
    width: 90%;
    height: fit-content;
    margin: 10px auto;
    align-items: center;
    padding: 25px;
    justify-items: center;
    border-radius: 8px;
}
.div-titulo-container{
    width: 250px;
    border-radius: 25px;
    background-color: rgb(216, 215, 215);
    text-align: center;
    margin-bottom: 15px;

}
.titulo-container{
    text-align: left;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:bold;
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    margin: 0;
    border-radius: 25px;
    justify-self: center;
}

.item{
    width: 900px;
    background-color:rgb(236, 236, 236);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding:5px;
    height: fit-content;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500px;
    font-style: normal;
    box-shadow:  white;
}

.coluna-html{
    width: fit-content;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:bold;
    margin-top: 5px;
}


.img-html{
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding-left: 9px;

}

.img-html img{
    border-radius: 8px;
    
}

.item-css{
    width: 900px;
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding:5px;
    height: fit-content;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500px;
    font-style: normal;
    box-shadow:  white;
}

.coluna-css{
    width: fit-content;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:bold;
    margin: 5px;
    display: flex;
    align-items: flex-start;
 
}

.topo {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  gap: 352px;
}

.cabecalho{
    text-align: left;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:bold;
    width: fit-content;
    height: fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
}

.cabecalho h2{
    height: fit-content;
    width: fit-content;
}

.img-css{
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 8px;
}

.img-css img{
    border-radius: 8px;
    align-self: center;
    margin: 0%;
    padding: 0%;
}

.grupo-img{
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
}

.css-resultado{
    display: block;
    
}

.resultado{
    display: flex;
}

.coluna-css-nav{
    width: fit-content;
    font-family: "Roboto Condensed", sans-serif;
    font-weight:bold;
    margin: 5px;
    display: flex;
    align-items: flex-start;
}

.coluna-css-nav img{
    align-self: flex-start;
}


.item-css-nav{
    width: 900px;
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding:5px;
    height: fit-content;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500px;
    font-style: normal;
    box-shadow:  white;
}

.img-css-nav{
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 8px;
}

.img-css-nav img{
    border-radius: 8px;
    margin: 0%;
    padding: 0%;
}

.grupo-img-nav{
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
}

.div-botao{
    width: fit-content;
    height: fit-content;
    transition: 2ms;
    text-align: right;
    justify-self: right;
    border-radius: 9px;
}

.div-botao :hover{
    transform: scale(102%);
}

.div-botao button{
    background-color: white;
    border: 0px;
    border-radius: 9px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size:large;
    border: 1px solid black;
}

nav{
    width: 80%;
    position: fixed; /*faz com que a navbar fique fixa em em cima*/
    height: 30px;
    z-index: 1000; /*garante que a navbar fique fixa em em cima*/
    background-color: whitesmoke;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.15);
    left: 50%; /* Move a borda esquerda do elemento para o centro da tela (50% da largura da janela).*/
    transform: translate(-50%); /* Corrige o alinhamento puxando o elemento 50% da sua largura para a esquerda */
    margin-top: 8px;
    border-radius: 10px;

}


ul{
    display: flex;
    font-family:"Roboto Condensed", sans-serif;
    font-weight: 600;
    gap: 20px;
    margin: 0%; 
    justify-content: center;
    align-items: center;
    height: 30px;

}
    
    
a{
    text-decoration: none;
    color: black;
}

.elementos-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-nav{
 
    height: fit-content;
    width: fit-content;
    margin-top: 2px;
}

.img-nav img{
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
}

footer{
    border-top:  1px solid #ccc;
    padding: 10px;
    align-self: flex-end;
    margin: 0;
    border-top: 1px solid rgb(167, 167, 167);
}